<span
  class="flex gap-x-1 rounded-full text-xs bg-slate-500/10 text-slate-500 py-1 px-2 border border-white/10">
  <svg
    class="w-3 h-auto"
    xmlns="http://www.w3.org/2000/svg"
    width="24"
    height="24"
    viewBox="0 0 24 24"
    style="fill: rgba(255, 255, 255, 1);transform: ;msFilter:;"
    ><path
      d="M18 22c1.103 0 2-.897 2-2V4c0-1.103-.897-2-2-2H8c-1.103 0-2 .897-2 2v16c0 1.103.897 2 2 2h10zm-5-5a1 1 0 1 1 0 2 1 1 0 1 1 0-2z"
      fill="currentColor"></path>
  </svg>
   Móvil
</span>
