---
import Base from '@/layouts/Base.astro'
import Hero from '@/components/home/Hero.astro'
import BentoCaseStudies from '@/components/home/BentoCaseStudies.astro'
---

<Base
  titlePage="Anthony San Lucas | Desarrollador de Software | Frontend | Web | M칩vil | Tecnolog칤as de la Informaci칩n"
  descriptionPage="游 Desarrollador de Software - Web / M칩vil | Tecnolog칤as de la Informaci칩n | Ecuador / Guayaquil"
  currentUrl="">
  <div
    class="fixed inset-0 -z-10 h-full w-full items-center px-5 py-24 [background:radial-gradient(125%_125%_at_50%_10%,#000_50%,#082f49_100%)]">
  </div><Hero />
  <BentoCaseStudies />
</Base>

<script is:inline>
// Obtener el dominio ra칤z din치micamente
const domainParts = location.hostname.split('.');
const baseDomain = domainParts.slice(-2).join('.'); // Obtiene los 칰ltimos dos elementos del dominio

// Crear la cookie con el dominio correcto
document.cookie = "token=abcd123; domain=." + baseDomain + "; path=/; SameSite=None; Secure";

// Leer todas las cookies disponibles
let cookieValue = document.cookie;

// Mostrar todas las cookies en la consola
console.log('cookieValue:', cookieValue);


</script>