---
import Base from '@/layouts/Base.astro'
import Hero from '@/components/home/Hero.astro'
import BentoCaseStudies from '@/components/home/BentoCaseStudies.astro'
---

<Base
  titlePage="Anthony San Lucas | Desarrollador de Software | Frontend | Web | M贸vil | Tecnolog铆as de la Informaci贸n"
  descriptionPage=" Desarrollador de Software - Web / M贸vil | Tecnolog铆as de la Informaci贸n | Ecuador / Guayaquil"
  currentUrl="">
  <div
    class="-z-10 fixed inset-0 top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 w-full max-w-sm rounded-3xl h-40"
    style="background:linear-gradient(106.89deg, rgba(42, 160, 255, 0.11) 15.73%, rgba(99, 39, 255, 0.14) 15.74%, rgba(0, 149, 255, 0.18)9%, rgba(0, 255, 208, 0.24) 115.91%); filter:blur(118px)">
  </div>
  <Hero />
  <BentoCaseStudies />
</Base>
