---
import Base from '@/layouts/Base.astro'
import Hero from '@/components/home/Hero.astro'
import BentoCaseStudies from '@/components/home/BentoCaseStudies.astro'
---

<Base
  titlePage="Anthony San Lucas | Desarrollador de Software | Frontend | Web | M贸vil | Tecnolog铆as de la Informaci贸n"
  descriptionPage=" Desarrollador de Software - Web / M贸vil | Tecnolog铆as de la Informaci贸n | Ecuador / Guayaquil"
  currentUrl="">
  <div
    class="fixed inset-0 -z-10 h-full w-full items-center px-5 py-24 [background:radial-gradient(125%_125%_at_50%_10%,#000_50%,#082f49_100%)]">
  </div><Hero />
  <BentoCaseStudies />
</Base>
