---
import Contact from './Contact'
---

<section
  class="flex w-full flex-col items-start justify-start gap-10 px-4 py-10 sm:px-6 lg:sticky lg:top-0 lg:w-[360px] lg:shrink-0">
  <img
    class="sr-only"
    src="/images/anthonysanlucas.webp"
    alt="Foto Anthony San Lucas - Desarrollo de Sitios Web y Aplicaciones Móviles"
  />
  <img
    class="max-w-[10rem] rounded-md"
    src="/images/anthonysanlucas-software-ti-desarrollador-programador.webp"
    alt="Foto Anthony San Lucas - Desarrollo de Sitios Web y Aplicaciones Móviles"
  />

  <article class="flex flex-col items-start justify-center gap-y-4 sm:flex-row sm:gap-x-4">
    <div>
      <h1 class="mb-2 text-2xl font-bold text-balance text-gray-900 sm:text-4xl">
        Anthony San Lucas
      </h1>
      <h2 class="sr-only mb-4 text-xl font-medium text-white/70">
        Desarrollador de Software Ecuador - Guayaquil
      </h2>
      <h2 class="mb-4 max-w-lg text-balance text-sm font-light text-gray-700 sm:text-base">
        Hola &#128075;
      </h2>

      <p class="max-w-sm text-balance text-sm font-light leading-7 text-gray-700 sm:text-base">
        Me dedico a crear soluciones centradas en el usuario
        <span class="text-purple-500"> UX/UI</span>&nbsp;y productos empresariales utilizando
        <span class="text-green-500"> tecnolog&iacute;as</span>&nbsp;de desarrollo
        <span class="text-sky-500"> modernas. </span>
      </p>

      <Contact />
    </div>
  </article>
</section>
