<div
  class="bg-neutral-50 inline-block rounded-full relative overflow-hidden w-16 h-8 border border-neutral-950">
  <span
    id="eye-ball"
    class="w-5 h-5 bg-neutral-50 absolute rounded-full top-1/2 left-1/2 translate-x-1/2 translate-y-1/2 border-[7px] border-neutral-950">
  </span>
</div>

<script>
  const eyeBall = document.getElementById('eye-ball')

  setEyeBallPosition('50%', '50%')

  document.onmousemove = function (e) {
    let [x, y] = getMousePosition(e.clientX, e.clientY)

    setEyeBallPosition(x, y)
  }

  const getMousePosition = (horizontal, vertical) => {
    let x = (horizontal * 100) / window.innerWidth + '%'
    let y = (vertical * 100) / window.innerHeight + '%'

    return [x, y]
  }

  function setEyeBallPosition(x, y) {
    eyeBall.style.left = x
    eyeBall.style.top = y
    eyeBall.style.transform = 'translate(-' + x + ',-' + y + ')'
  }
</script>
