<footer class="py-4 flex justify-between items-center">
  <span class="block text-sm sm:text-center text-gray-400">© 2023</span>
  <span class="block text-sm sm:text-center text-gray-400">En construcción ⚒️</span>
</footer>
